@model Account_PasswordReset
@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml";
    
    ViewData["PageTitle"] = S.PasswordResetRequest_PageTitle;
}

@section JsDocReady
{

    $("#main-content form").madValidate({
        rules:
        {
            Email: {
                required: true,
                email: true
            }
        },
        useAjax: false
    });

    $("#main-content form input[type='password']").val("");
}

@section Header
{
	<h1>@S.PasswordResetRequest_PageHeading</h1>
}

@Html.ValidationSummary(S.Validation_SummaryHeading)
<form action="@(Url.Action<AccountController>(c => c.PasswordResetPost(null)))" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.TextBoxControlGroupFor(m => m.Email, S.PasswordReset_EmailLabel)
    @Html.FormButtons(S.PasswordResetRequest_SubmitBtnText)
</form>
