@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml";
    
    ViewData["PageTitle"] = S.PasswordReset_PageTitle;
}
@section Header
{
	<h1>@S.PasswordReset_InvalidLinkPageHeading</h1>
}

<p class="@Html.AlertErrorClass(true)">@S.PasswordReset_InvalidLinkDetails.FormatResource(Html.StartTag("a").Href((Url.Action<AccountController>(c => c.PasswordReset(null)))))</p>

<div class="actions">
<a class="@Html.PrimaryButtonClass()" href="@(Url.Action<AccountController>(c => c.PasswordReset(null)))">Send a New Email</a>
</div>