@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml";
    
    ViewData["PageTitle"] = S.PasswordResetRequest_UserNotFound_PageHeading;
}
@section Header
{
	<h1>@S.PasswordResetRequest_UserNotFound_PageHeading</h1>
}

<p class="@Html.AlertErrorClass()">@S.PasswordResetRequest_UserNotFound_Text</p>

<div class="actions">
<a class="@Html.PrimaryButtonClass()" href="@(Url.Action<AccountController>(c => c.PasswordReset(null)))">@("Try Another Email Address")</a>
<a class="btn" href="@(Url.Action<SignupController>(c => c.Index(null, null, null)))">@("Sign up for Takeoff")</a>
</div>