@model Account_PasswordReset
@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml";
    
    ViewData["PageTitle"] = S.PasswordReset_PageTitle;
}

@section JsDocReady
{
    $("#main-content form").madValidate({
        rules:
        {
            NewPassword: {
                required: true
            },
            passwordConfirm: {
                required: true,
                equalTo: "#NewPassword"
            }
        },
        useAjax: false
    });
}
@section Header
{
	<h1>@S.PasswordReset_PageHeading</h1>
}

@Html.ValidationSummary(S.Validation_SummaryHeading)
<form action="@(Url.Action<AccountController>(c => c.PasswordResetPost(null)))" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.ResetKey)
    @Html.ControlGroup(Html.ControlLabelFor(m => m.NewPassword, S.PasswordReset_PasswordLabel), Html.PasswordFor(m => m.NewPassword))
    <div class="@Html.ControlGroupClass()">
        @Html.ControlLabel(S.PasswordReset_PasswordConfirmLabel, "passwordConfirm")
        @Html.ControlsWrapperBeginTag()
        <input type="password" name="passwordConfirm" id="passwordConfirm" />
        @Html.ControlsWrapperEndTag()
    </div>
    <div class="@Html.FormActionsClass()">
        @Html.SubmitButton(S.PasswordReset_SubmitBtnText)
    </div>
</form>
