@model Video_Login
@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml";
    ViewData["PageTitle"] = "Enter Password or Log In";
    ViewData.AddBodyCss("login", "password-protected-production");
}
@section JsDocReady
{
    window.views.login(@Model.UseAjax.ToString().ToLowerInvariant()); 
}

@section Header
{
	<h1>@("Access Required")</h1>
}

<div class="form-container">
    <h3>@("No Account?  Just Enter the Password")</h3>
    <p>@("This video is password-protected.  If you have the password, please enter it and you'll get access without needing an account.")</p>
    @Html.ValidationSummary("")
    <form id="production-password-form" action="@(Url.Action<VideosController>(c => c.Login(Model.VideoId, null), UrlType.RelativeHttps))" method="post" class="form-horizontal">
        @Html.AntiForgeryToken()
        <div class="@Html.ControlGroupClass()">
            <label for="production-password" class="control-label">@("Production Password")</label>
            <div class="controls">
                <input id="production-password" type="password" name="Password" />
                <input type="submit" class="@Html.PrimaryButtonClass()" value="@("Go")" />
            </div>
        </div>
    </form>
</div>

<div class="form-container">
    <h3>Log Into Your Account</h3>
    <p>If you have a Takeoff account, we suggest you log in to access the video.</p>
    <form action="@(Url.Action<AccountController>(c => c.LoginPost(null), UrlType.RelativeHttps))" method="post" id="loginForm" class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.TimezoneOffset)
        @Html.HiddenFor(m => m.ReturnUrl)
        @Html.TextBoxControlGroupFor(m => m.Email)
	    <div class="@Html.ControlGroupClass()" id="password-group">
            @Html.ControlLabelFor(m => m.Password, S.Login_PasswordLabel)
            <div class="controls">
                @Html.TextBoxFor(m => m.Password, new { type = "password" })
        	    <a class="help-inline" href="@(Url.Action<AccountController>(c => c.PasswordReset(null)))">@S.Login_ForgotPasswordLink</a>            
            </div>
	    </div>
	    <div class="@Html.ControlGroupClass()" id="remember-me-group">
            <div class="controls checkbox">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, S.Login_RememberMeLabel)
            </div>
	    </div>
        <div class="@Html.FormActionsClass()">
            <input class="@Html.PrimaryButtonClass()" type="submit" value="@S.Login_SubmitBtnText" />
            <span>@S.Login_SignupLink.FormatResource(Html.StartTag("a").Href(Url.Action<SignupController>(c => c.Index(null, null, null))))</span>
        </div>
    </form>
</div>
