@model Account_Verify_Request
@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml"; 

    ViewData["PageTitle"] = S.Account_VerifyRequest_PageTitle;
}

@section JsDocReady
{
    $("#main-content form").madValidate({
        rules:
        {
            Email: {
                required: true,
                email: true
            }
        },
        useAjax: false
    });
}
@section Header
{
	<h1>@S.Account_VerifyRequest_PageHeading</h1>
}
<p>@("Before you can log in, we need to verify you indeed own the email address you entered.  A while back, we sent an email with a link that would verify your email.  It looks like you didn't click on it.  You can find that email and click the link, or you can have us send you another email real quick.  Your call!")</p>
@Html.ValidationSummary(S.Validation_SummaryHeading)
<form action="@(Url.Action<AccountController>(c => c.VerifyPost(null)))" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.TextBoxControlGroupFor(m => m.Email, S.Account_Verify_EmailLabel)
    @Html.FormButtons("Send Email")
</form>
