@model AccountPlan_Index
@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml";    
    
    Html.DisableNagBanners();

    ViewData["Heading"] = "Account Plan";
}
@section Header
{
<h1>Which Plan is Right for You?</h1>
}

<table class="table table-striped">
<thead>
    <tr>
        <th>Plan</th>
        <th>Price Per Month</th>
        <th>Videos</th>
        <th>Assets</th>
        <th>Productions</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Solo</td>
        <td>$9.99</td>
        <td>10</td>
        <td>1 GB</td>
        <td>5</td>
        <td>
          <a class="btn" href="@(Url.Action<SignupController>(c => c.Index(SignupType.DirectPurchase, null, "solo")))">Choose Plan</a>
        </td>
    </tr>
    <tr>
        <td>Freelance</td>
        <td>$24.99</td>
        <td>30</td>
        <td>4 GB</td>
        <td>15</td>
        <td>
          <a class="btn" href="@(Url.Action<SignupController>(c => c.Index(SignupType.DirectPurchase, null, "freelance")))">Change Plan</a>
        </td>
    </tr>
    <tr>
        <td>Studio</td>
        <td>$59.99</td>
        <td>80</td>
        <td>10 GB</td>
        <td>&infin;</td>
        <td>
          <a class="btn" href="@(Url.Action<SignupController>(c => c.Index(SignupType.DirectPurchase, null, "studio")))">Change Plan</a>
        </td>
    </tr>
    <tr>
        <td>Network</td>
        <td>$199.99</td>
        <td>350</td>
        <td>50 GB</td>
        <td>&infin;</td>
        <td>
          <a class="btn" href="@(Url.Action<SignupController>(c => c.Index(SignupType.DirectPurchase, null, "network")))">Change Plan</a>
        </td>
    </tr>
    <tr>
        <td>Custom</td>
        <td colspan="5"><a class="btn" href="mailto:sales@takeoffvideo.com?subject=Custom Takeoff Plan">Contact us</a> and let's build a custom plan for you.</td>
    </tr>
</tbody>
</table>


<section id="faqs">
<h3>Frequently Asked Questions</h3>
<ul>
@*    <li>
        <strong>@S.Signup_Index_Faq1_Question</strong>
        <p>@S.Signup_Index_Faq1_Answer</p>
    </li>*@
    <li>
        <strong>@S.Signup_Index_Faq2_Question</strong>
        <p>@S.Signup_Index_Faq2_Answer</p>
    </li>
    <li>
        <strong>@S.Signup_Index_Faq3_Question</strong>
        <p>@S.Signup_Index_Faq3_Answer</p>
    </li>
    <li>
        <strong>@S.Signup_Index_Faq4_Question</strong>
        <p>@S.Signup_Index_Faq4_Answer</p>
    </li>
    <li>
        <strong>@S.Signup_Index_Faq5_Question</strong>
        <p>@S.Signup_Index_Faq5_Answer</p>
    </li>
    <li>
        <strong>@S.Signup_Index_Faq6_Question</strong>
        <p>@S.Signup_Index_Faq6_Answer.FormatResource(Html.Element("a").Href("mailto:sales@takeoffvideo.com"))</p>
    </li>
    <li>
        <strong>@S.Signup_Index_Faq7_Question</strong>
        <p>@S.Signup_Index_Faq7_Answer</p>
    </li>
    <li>
        <strong>@S.Signup_Index_Faq8_Question</strong>
        <p>@S.Signup_Index_Faq8_Answer</p>
    </li>
</ul>
</section>
